{% extends 'modelo.html' %}
{% load static %}


{% block titulo %}
    <title>Página Inicial</title>
{% endblock %}


{% block conteudo%}
        <!-- Features Section Start -->
    <section id="features" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Lista de Cadastros</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>

          <hr>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>nome</th>
                        <th>cpf</th>
                        <th>etapa</th>
                        <th>opções</th>
                    </tr>

                    {% for campo in object_list %}
                    <tr>
                        <td>{{ campo.pk }}</td>
                        <td>{{ campo.nome }}</td>
                        <td>{{ campo.cpf }}</td>
                        <td>{{ campo.etapa }}</td>
                        <td>
                            <a href="{% url 'editar-campo' campo.pk %}" class="btn btn-warning btn-sm" title="editar">E</a>
                            <a href="{% url 'excluir-campo' campo.pk %}" class="btn btn-danger btn-sm" title="excluir">X</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Nenhum campo registrado</td>
                    </tr>

                    {% endfor %}

                </table>
            </div>

        </div>
      </div>
    </section>
    <!-- Features Section End -->

    {% endblock %}

